In [1]:
%matplotlib inline

import pandas as pd

In [4]:
df = pd.DataFrame({'name': ['Olivia','Dean','Alex','Jon','Tom','Jane','Kate'], \
                   'age': [32,23,45,35,20,28,55], \
                   'sex':['female', 'male','male','male','male','female','female']})

df

     name  age     sex
0  Olivia   32  female
1    Dean   23    male
2    Alex   45    male
3     Jon   35    male
4     Tom   20    male
5    Jane   28  female
6    Kate   55  female

In [8]:
df.at[2, 'age'] = 46
df

     name  age     sex
0  Olivia   32  female
1    Dean   23    male
2    Alex   46    male
3     Jon   35    male
4     Tom   20    male
5    Jane   28  female
6    Kate   55  female