In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
from pandas import IndexSlice as idx

In [3]:
df = pd.read_csv('dataset.csv', index_col=[0,1], header=[0,1])

In [32]:
df = df.sort_index(axis=1)
df

                                 Day
                     Max Temperature            Weather       Wind
City      Date
Cambridge 2019-07-01              24             Shower  SW 16 mph  \
          2019-07-02              21  Scattered showers   E 20 mph
          2019-07-03              22  Scattered showers  SE 10 mph
          2019-07-04              22             Shower   S 25 mph
London    2019-07-01              28             Shower  SW 16 mph
          2019-07-02              29             Shower  SW 16 mph
          2019-07-03              29  Scattered showers  SW 16 mph
          2019-07-04              31      Mostly cloudy  SW 16 mph
Oxford    2019-07-01              25             Shower  SW 13 mph
          2019-07-02              26             Shower  SW 16 mph
          2019-07-03              28  Scattered showers  SW 16 mph
          2019-07-04              25             Shower  SW 14 mph

                               Night
                     Max Temperature            Weather       Wind
City      Date
Cambridge 2019-07-01              17             Shower  SW 16 mph
          2019-07-02              16  Scattered showers   E 20 mph
          2019-07-03              16  Scattered showers  SE 10 mph
          2019-07-04              16      Mostly cloudy   S 25 mph
London    2019-07-01              18             Shower  SW 16 mph
          2019-07-02              17         Heavy rain  SW 16 mph
          2019-07-03              19         Heavy rain  SW 16 mph
          2019-07-04              23      Mostly cloudy  SW 16 mph
Oxford    2019-07-01              19             Shower  SW 16 mph
          2019-07-02              19             Shower  SW 16 mph
          2019-07-03              22  Scattered showers  SW 16 mph
          2019-07-04              21             Shower  SW 16 mph

In [23]:
df.columns

MultiIndex([(  'Day', 'Max Temperature'),
            (  'Day',         'Weather'),
            (  'Day',            'Wind'),
            ('Night', 'Max Temperature'),
            ('Night',         'Weather'),
            ('Night',            'Wind')],
           )

In [21]:
df.loc[(['London', 'Cambridge'], '2019-07-03'), ('Day', 'Weather')]

City       Date
London     2019-07-03    Scattered showers
Cambridge  2019-07-03    Scattered showers
Name: (Day, Weather), dtype: object

In [45]:
df1 = pd.DataFrame(index=pd.Index(['Ai', 'Bi']), data=np.random.random((2, 6)))
df1.columns = pd.MultiIndex.from_product([['Cat1', 'Cat2'], ['A', 'B', 'C']])
df1

        Cat1                          Cat2
           A         B         C         A         B         C
Ai  0.651760  0.474303  0.699982  0.180668  0.264980  0.958998
Bi  0.534056  0.928352  0.743391  0.385460  0.206628  0.068672