## Setup
Install accompanying pinon library. It is better to install in dev mode in the conda environment with `pip install -e .` Jupyter server must restart to see changes to conda environment.
Auto reload the pinon module.  Other imports may be ignored for auto reload e.g.  `%aimport -simfin`. Note use of option 2 for auto reload and excluding other modules, rather than option 1 and including only reloadable modules.  This is because option 1 does not work correctly with aliased imports.

In [1]:
# !pip install -e ..

%load_ext autoreload
%autoreload 2
%aimport -pandas
%aimport -simfin
%aimport -os

%aimport pinon

%matplotlib inline

# imports
import pandas as pd
import os

import pinon as pn
import simfin as sf
import simfin.names as sf_cols  # column name shortcuts

config = pn.Config('master')

Config file found at: /Users/daved/Dev/pinon/config/master.xlsx
Simfin data directory: /Users/daved/Dev/pinon/simfin_data

In [2]:
dp = pn.DailyPrices()

Dataset "us-shareprices-daily" on disk (3 days old).
- Loading from disk ...

/Users/daved/opt/anaconda3/envs/py3_10_8_pinon/lib/python3.10/site-packages/simfin/load.py:144: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

In [3]:
down = dp.downsample_prices('XOM')

In [5]:
down

,SimFinId,Open,Low,High,Close,Adj. Close,Dividend,Volume,Shares Outstanding
Date,,,,,,,,,
2000-03-31,121214.0,39.446190,38.776032,40.240952,39.577460,19.223968,0.22,1.192689e+07,NaN
2000-06-30,121214.0,40.395238,39.947302,40.947302,40.465238,19.764286,0.22,1.000656e+07,NaN
2000-09-30,121214.0,41.112063,40.745397,41.513492,41.113175,20.190159,0.22,1.055078e+07,NaN
2000-12-31,121214.0,44.544762,44.050794,45.142063,44.529841,21.976032,0.22,1.179094e+07,NaN
2001-03-31,121214.0,41.307742,40.847258,41.718871,41.243387,20.461774,0.22,1.278117e+07,NaN
...,...,...,...,...,...,...,...,...,...
2022-03-31,121214.0,77.377742,76.374839,78.661613,77.731935,74.712419,0.88,3.363067e+07,4.264423e+09
2022-06-30,121214.0,90.254355,88.867581,91.658710,90.197581,87.580000,0.88,2.944123e+07,4.264028e+09
2022-09-30,121214.0,91.141406,89.972344,92.415625,91.296875,89.519844,0.88,1.973469e+07,4.240469e+09
2022-12-31,121214.0,106.886349,105.720794,108.333016,107.143333,105.926032,0.91,1.866981e+07,4.276000e+09
2023-03-31,121214.0,112.189250,110.868250,113.836750,112.581000,111.976750,0.91,1.632848e+07,4.126214e+09

In [27]:
dps = dp.get_daily_prices(['XOM', 'CVX', 'MSFT'])

In [33]:
msft_qtrly_prices = dp.downsample_prices('MSFT')
msft_qtrly_prices_ndx = msft_qtrly_prices.index
msft_qtrly_prices

,SimFinId,Open,Low,High,Close,Adj. Close,Dividend,Volume,Shares Outstanding
Date,,,,,,,,,
2000-03-31,59265.0,51.030000,49.920952,52.169683,50.984921,31.873492,NaN,7.361191e+07,NaN
2000-06-30,59265.0,36.556349,35.748413,37.115556,36.379206,22.742698,NaN,8.047028e+07,NaN
2000-09-30,59265.0,35.440635,34.917778,35.968730,35.374603,22.114603,NaN,6.157332e+07,NaN
2000-12-31,59265.0,29.832381,29.075873,30.579365,29.703175,18.569841,NaN,1.033261e+08,NaN
2001-03-31,59265.0,28.302903,27.727258,29.052903,28.420000,17.767742,NaN,8.770607e+07,NaN
...,...,...,...,...,...,...,...,...,...
2022-03-31,59265.0,301.400806,296.457581,305.124032,300.853871,297.577581,0.62,3.833126e+07,7.531146e+09
2022-06-30,59265.0,271.880645,267.694677,275.550484,271.403226,269.035323,0.62,3.204698e+07,7.504500e+09
2022-09-30,59265.0,264.181250,261.012031,266.948438,264.049375,262.359531,0.62,2.480253e+07,7.473734e+09
2022-12-31,59265.0,239.590159,236.594444,243.015873,239.985556,239.046825,0.68,2.981050e+07,7.457000e+09
2023-03-31,59265.0,248.035750,245.246000,250.984000,248.153500,247.689250,0.68,3.253864e+07,7.451000e+09

In [29]:
qf = pn.Fundamentals()

In [32]:
temp = qf.get_income_statements(['IBM','CVX', 'D', 'V', 'MA', 'MSFT'])
msft_stmnts = temp.loc['MSFT']
msft_stmnts_ndx = msft_stmnts.index
msft_stmnts

,SimFinId,Currency,Fiscal Year,Fiscal Period,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),Revenue,Cost of Revenue,...,Non-Operating Income (Loss),"Interest Expense, Net","Pretax Income (Loss), Adj.",Abnormal Gains (Losses),Pretax Income (Loss),"Income Tax (Expense) Benefit, Net",Income (Loss) from Continuing Operations,Net Extraordinary Gains (Losses),Net Income,Net Income (Common)
Report Date,,,,,,,,,,,,,,,,,,,,,
2004-03-31,59265,USD,2004,Q3,2004-05-03,2005-04-28,9.328000e+09,9.470000e+09,9.175000e+09,-1.411000e+09,...,1.001000e+09,NaN,2279000000,NaN,2279000000,-9.640000e+08,1315000000,NaN,1315000000,1315000000
2004-06-30,59265,USD,2004,Q4,2004-09-01,2005-04-28,9.328000e+09,9.470000e+09,9.292000e+09,-1.361000e+09,...,5.710000e+08,NaN,3704000000,NaN,3704000000,-1.014000e+09,2690000000,NaN,2690000000,2690000000
2004-09-30,59265,USD,2005,Q1,2004-11-09,2005-10-27,9.328000e+09,9.470000e+09,9.189000e+09,-1.405000e+09,...,2.790000e+08,NaN,3773000000,NaN,3773000000,-1.245000e+09,2528000000,NaN,2528000000,2528000000
2004-12-31,59265,USD,2005,Q2,2005-01-27,2006-01-26,9.328000e+09,9.470000e+09,1.081800e+10,-1.875000e+09,...,4.200000e+08,NaN,5169000000,NaN,5169000000,-1.706000e+09,3463000000,NaN,3463000000,3463000000
2005-03-31,59265,USD,2005,Q3,2005-04-28,2006-04-27,9.328000e+09,9.470000e+09,9.620000e+09,-1.363000e+09,...,4.960000e+08,NaN,3825000000,NaN,3825000000,-1.262000e+09,2563000000,NaN,2563000000,2563000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31,59265,USD,2022,Q2,2022-01-25,2023-01-24,7.505000e+09,7.555000e+09,5.172800e+10,-1.696000e+10,...,2.680000e+08,NaN,22515000000,NaN,22515000000,-3.750000e+09,18765000000,NaN,18765000000,18765000000
2022-03-31,59265,USD,2022,Q3,2022-04-26,2022-10-25,7.505000e+09,7.555000e+09,4.936000e+10,-1.561500e+10,...,-1.740000e+08,NaN,20190000000,NaN,20190000000,-3.462000e+09,16728000000,NaN,16728000000,16728000000
2022-06-30,59265,USD,2022,Q4,2022-07-28,2022-07-28,7.496000e+09,7.540000e+09,5.186500e+10,-1.642900e+10,...,-4.700000e+07,NaN,20487000000,NaN,20487000000,-3.747000e+09,16740000000,NaN,16740000000,16740000000
2022-09-30,59265,USD,2023,Q1,2022-10-25,2022-10-25,7.457000e+09,7.485000e+09,5.012200e+10,-1.545200e+10,...,5.400000e+07,NaN,21572000000,NaN,21572000000,-4.016000e+09,17556000000,NaN,17556000000,17556000000
2022-12-31,59265,USD,2023,Q2,2023-01-24,2023-01-24,7.451000e+09,7.473000e+09,5.274700e+10,-1.748800e+10,...,-6.000000e+07,NaN,20339000000,NaN,20339000000,-3.914000e+09,16425000000,NaN,16425000000,16425000000

In [46]:
temp.index

MultiIndex([( 'IBM', '2009-06-30'),
            ( 'IBM', '2009-09-30'),
            ( 'IBM', '2009-12-31'),
            ( 'IBM', '2010-03-31'),
            ( 'IBM', '2010-06-30'),
            ( 'IBM', '2010-09-30'),
            ( 'IBM', '2010-12-31'),
            ( 'IBM', '2011-03-31'),
            ( 'IBM', '2011-06-30'),
            ( 'IBM', '2011-09-30'),
            ...
            ('MSFT', '2020-09-30'),
            ('MSFT', '2020-12-31'),
            ('MSFT', '2021-03-31'),
            ('MSFT', '2021-06-30'),
            ('MSFT', '2021-09-30'),
            ('MSFT', '2021-12-31'),
            ('MSFT', '2022-03-31'),
            ('MSFT', '2022-06-30'),
            ('MSFT', '2022-09-30'),
            ('MSFT', '2022-12-31')],
           names=['Ticker', 'Report Date'], length=357)

In [31]:
re_prices = msft_qtrly_prices.reindex(msft_stmnts_ndx)
re_prices

,SimFinId,Open,Low,High,Close,Adj. Close,Dividend,Volume,Shares Outstanding
Report Date,,,,,,,,,
2004-03-31,59265.0,26.721774,26.488548,26.897097,26.657419,16.811613,NaN,6.398864e+07,NaN
2004-06-30,59265.0,26.391452,26.216452,26.643387,26.437742,16.673871,NaN,6.831120e+07,NaN
2004-09-30,59265.0,27.672187,27.438750,27.887969,27.655625,17.463906,0.08,5.915085e+07,NaN
2004-12-31,59265.0,27.698594,27.502344,27.896875,27.712031,18.518594,3.08,7.568400e+07,NaN
2005-03-31,59265.0,25.653115,25.491967,25.804426,25.600984,18.041311,0.08,7.252380e+07,NaN
...,...,...,...,...,...,...,...,...,...
2021-12-31,59265.0,323.705781,320.910312,326.681719,324.210156,320.062500,0.62,2.577169e+07,7.531575e+09
2022-03-31,59265.0,301.400806,296.457581,305.124032,300.853871,297.577581,0.62,3.833126e+07,7.531146e+09
2022-06-30,59265.0,271.880645,267.694677,275.550484,271.403226,269.035323,0.62,3.204698e+07,7.504500e+09
2022-09-30,59265.0,264.181250,261.012031,266.948438,264.049375,262.359531,0.62,2.480253e+07,7.473734e+09
2022-12-31,59265.0,239.590159,236.594444,243.015873,239.985556,239.046825,0.68,2.981050e+07,7.457000e+09

In [35]:
common_ndx = msft_stmnts_ndx.intersection(msft_qtrly_prices_ndx)
common_ndx

DatetimeIndex(['2004-03-31', '2004-06-30', '2004-09-30', '2004-12-31',
               '2005-03-31', '2005-06-30', '2005-09-30', '2005-12-31',
               '2006-03-31', '2006-06-30', '2006-09-30', '2006-12-31',
               '2007-03-31', '2007-06-30', '2007-09-30', '2007-12-31',
               '2008-03-31', '2008-06-30', '2008-09-30', '2008-12-31',
               '2009-03-31', '2009-06-30', '2009-09-30', '2009-12-31',
               '2010-03-31', '2010-06-30', '2010-09-30', '2010-12-31',
               '2011-03-31', '2011-06-30', '2011-09-30', '2011-12-31',
               '2012-03-31', '2012-06-30', '2012-09-30', '2012-12-31',
               '2013-03-31', '2013-06-30', '2013-09-30', '2013-12-31',
               '2014-03-31', '2014-06-30', '2014-09-30', '2014-12-31',
               '2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31',
               '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31',
               '2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31',
               '2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31',
               '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31',
               '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31',
               '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31',
               '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='Q-DEC')

In [37]:
re_statements = msft_stmnts.reindex(common_ndx)
re_prices = msft_qtrly_prices.reindex(common_ndx)

In [40]:
msft_res = pd.DataFrame(index=common_ndx)
msft_res['eps'] = msft_stmnts[sf_cols.NET_INCOME] / msft_stmnts[sf_cols.SHARES_DILUTED]
msft_res['pe'] = msft_qtrly_prices[sf_cols.CLOSE] / msft_res['atr_eps']
msft_res

                 eps          pe
2004-03-31  0.138860  191.973963
2004-06-30  0.284055   93.072645
2004-09-30  0.266948  103.599196
2004-12-31  0.365681   75.781962
2005-03-31  0.270644   94.592788
...              ...         ...
2021-12-31  2.483786  130.530654
2022-03-31  2.214163  135.877032
2022-06-30  2.220159  122.244942
2022-09-30  2.345491  112.577442
2022-12-31  2.197912  109.187949

[76 rows x 2 columns]

In [47]:
def calc(grp):
    print(grp)

temp = msft_res.groupby(level=0).apply(calc)

                eps          pe
2004-03-31  0.13886  191.973963
                 eps         pe
2004-06-30  0.284055  93.072645
                 eps          pe
2004-09-30  0.266948  103.599196
                 eps         pe
2004-12-31  0.365681  75.781962
                 eps         pe
2005-03-31  0.270644  94.592788
                 eps         pe
2005-06-30  0.390707  64.439191
                 eps         pe
2005-09-30  0.331679  79.196493
                 eps         pe
2005-12-31  0.385744  68.528796
                 eps         pe
2006-03-31  0.314361  86.009051
                 eps         pe
2006-06-30  0.298627  80.909914
                 eps         pe
2006-09-30  0.367265  67.978241
                 eps          pe
2006-12-31  0.277297  104.614312
                 eps         pe
2007-03-31  0.520169  55.924768
                 eps         pe
2007-06-30  0.320486  93.252792
                 eps        pe
2007-09-30  0.452904  64.57868
                 eps         pe
2007-12-31  0.497043  67.334112
                 eps         pe
2008-03-31  0.463358  65.105985
                 eps        pe
2008-06-30  0.453749  63.56148
                 eps         pe
2008-09-30  0.476206  55.627183
                 eps         pe
2008-12-31  0.467885  45.431526
                 eps         pe
2009-03-31  0.333744  53.821006
                 eps         pe
2009-06-30  0.339844  61.301281
                 eps         pe
2009-09-30  0.397863  60.888242
                 eps         pe
2009-12-31  0.742946  38.518511
                 eps         pe
2010-03-31  0.449355  65.102783
                 eps         pe
2010-06-30  0.510913  54.759158
                 eps         pe
2010-09-30  0.622197  39.842959
                 eps         pe
2010-12-31  0.771665  34.120032
                 eps         pe
2011-03-31  0.613005  44.028985
                eps         pe
2011-06-30  0.68742  36.479652
                 eps        pe
2011-09-30  0.675854  38.58059
                 eps         pe
2011-12-31  0.780396  33.420768
                 eps         pe
2012-03-31  0.598968  51.031313
                eps          pe
2012-06-30 -0.05776 -527.175601
                 eps         pe
2012-09-30  0.525783  57.598158
                 eps         pe
2012-12-31  0.753248  37.123731
                eps         pe
2013-03-31  0.71606  38.664379
                 eps         pe
2013-06-30  0.586602  55.847856
                 eps        pe
2013-09-30  0.621769  52.90977
                 eps         pe
2013-12-31  0.779601  46.589964
                 eps         pe
2014-03-31  0.674854  55.619078
                 eps         pe
2014-06-30  0.551477  73.388235
                 eps         pe
2014-09-30  0.543647  82.050817
                 eps         pe
2014-12-31  0.707152  66.376699
                 eps         pe
2015-03-31  0.605196  71.934417
                 eps          pe
2015-06-30 -0.392651 -116.205262
                 eps         pe
2015-09-30  0.606383  74.051541
                 eps         pe
2015-12-31  0.623277  84.428555
                 eps          pe
2016-03-31  0.470205  111.486703
                 eps         pe
2016-06-30  0.865557  60.036137
                 eps         pe
2016-09-30  0.719528  78.450335
                 eps        pe
2016-12-31  0.800383  75.14774
                 eps         pe
2017-03-31  0.702163  91.269812
                 eps         pe
2017-06-30  1.033295  66.436264
                 eps         pe
2017-09-30  0.843185  86.630895
                eps          pe
2017-12-31 -0.81738 -100.357624
                 eps         pe
2018-03-31  0.952528  96.007718
                 eps         pe
2018-06-30  1.127016  85.997252
                 eps         pe
2018-09-30  1.136235  95.409376
                 eps         pe
2018-12-31  1.083934  98.824465
                 eps         pe
2019-03-31  1.137526  95.912504
                 eps         pe
2019-06-30  1.705069  74.457651
                 eps         pe
2019-09-30  1.384955  99.290822
                 eps         pe
2019-12-31  1.514431  97.003766
                 eps         pe
2020-03-31  1.400547  117.41771
                eps          pe
2020-06-30  1.46374  124.014481
                eps          pe
2020-09-30  1.81917  115.455651
                 eps          pe
2020-12-31  2.030064  105.919981
                 eps          pe
2021-03-31  2.034619  114.036821
                 eps          pe
2021-06-30  2.160693  117.639275
                 eps          pe
2021-09-30  2.714097  107.199688
                 eps          pe
2021-12-31  2.483786  130.530654
                 eps          pe
2022-03-31  2.214163  135.877032
                 eps          pe
2022-06-30  2.220159  122.244942
                 eps          pe
2022-09-30  2.345491  112.577442
                 eps          pe
2022-12-31  2.197912  109.187949

In [42]:
msft_res.index

DatetimeIndex(['2004-03-31', '2004-06-30', '2004-09-30', '2004-12-31',
               '2005-03-31', '2005-06-30', '2005-09-30', '2005-12-31',
               '2006-03-31', '2006-06-30', '2006-09-30', '2006-12-31',
               '2007-03-31', '2007-06-30', '2007-09-30', '2007-12-31',
               '2008-03-31', '2008-06-30', '2008-09-30', '2008-12-31',
               '2009-03-31', '2009-06-30', '2009-09-30', '2009-12-31',
               '2010-03-31', '2010-06-30', '2010-09-30', '2010-12-31',
               '2011-03-31', '2011-06-30', '2011-09-30', '2011-12-31',
               '2012-03-31', '2012-06-30', '2012-09-30', '2012-12-31',
               '2013-03-31', '2013-06-30', '2013-09-30', '2013-12-31',
               '2014-03-31', '2014-06-30', '2014-09-30', '2014-12-31',
               '2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31',
               '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31',
               '2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31',
               '2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31',
               '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31',
               '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31',
               '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31',
               '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='Q-DEC')