## Setup
Install accompanying pinon library. It is better to install in dev mode in the conda environment with `pip install -e .` Jupyter server must restart to see changes to conda environment.
Auto reload the pinon module.  Other imports may be ignored for auto reload e.g.  `%aimport -simfin`. Note use of option 2 for auto reload and excluding other modules, rather than option 1 and including only reloadable modules.  This is because option 1 does not work correctly with aliased imports.

In [6]:
# !pip install -e ..

%load_ext autoreload
%autoreload 2
%aimport -pandas
%aimport -simfin
%aimport -os

%aimport pinon

%matplotlib inline

# imports
import pandas as pd
import os

import pinon as pn
import simfin as sf
from simfin.names import *  # column name shortcuts

config = pn.Config('master')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Config file found at: /Users/daved/Dev/pinon/config/master.xlsx
Simfin data directory: /Users/daved/Dev/pinon/simfin_data

In [8]:
dp = pn.DailyPrices()

In [ ]:
down = dp.downsample_prices('XOM')

In [ ]:
down.mean()

In [9]:
dps = dp.get_daily_prices(['XOM', CVX'])

In [10]:
dps.loc['XOM']

,SimFinId,Open,Low,High,Close,Adj. Close,Dividend,Volume,Shares Outstanding
Date,,,,,,,,,
2000-01-03,121214,39.75,38.94,40.38,39.16,18.96,NaN,13458200,NaN
2000-01-04,121214,38.69,38.25,39.09,38.41,18.59,NaN,14510800,NaN
2000-01-05,121214,39.00,38.91,40.62,40.31,19.52,NaN,17485000,NaN
2000-01-06,121214,40.31,40.09,42.91,42.59,20.62,NaN,19461600,NaN
2000-01-07,121214,42.97,42.00,43.12,42.47,20.56,NaN,16603800,NaN
...,...,...,...,...,...,...,...,...,...
2023-02-23,121214,110.73,109.90,111.83,110.74,110.74,NaN,11275840,4.126214e+09
2023-02-24,121214,109.33,109.02,110.96,110.75,110.75,NaN,14327946,4.126214e+09
2023-02-27,121214,110.80,109.96,111.26,110.55,110.55,NaN,11688406,4.126214e+09
2023-02-28,121214,111.24,109.22,111.36,109.91,109.91,NaN,17965021,4.126214e+09
2023-03-01,121214,109.31,109.24,111.86,110.89,110.89,NaN,13029189,4.126214e+09

In [48]:
qf = pn.Fundamentals()

Dataset "us-income-annual" not on disk.
- Downloading ... 100.0%
- Extracting zip-file ... Done!
- Loading from disk ...

/Users/daved/opt/anaconda3/envs/py3_10_8_pinon/lib/python3.10/site-packages/simfin/load.py:144: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

In [49]:
temp = qf.get_income_statements(['IBM','CVX', 'D', 'V', 'MA'])

In [50]:
temp.

                     SimFinId Currency  Fiscal Year Fiscal Period Report Date
Ticker Publish Date
IBM    2009-01-27       69543      USD         2008            FY  2008-12-31  \
       2010-02-23       69543      USD         2009            FY  2009-12-31
       2011-02-22       69543      USD         2010            FY  2010-12-31
       2012-02-28       69543      USD         2011            FY  2011-12-31
       2013-02-26       69543      USD         2012            FY  2012-12-31
...                       ...      ...          ...           ...         ...
MA     2019-02-13      331628      USD         2018            FY  2018-12-31
       2020-02-14      331628      USD         2019            FY  2019-12-31
       2021-02-12      331628      USD         2020            FY  2020-12-31
       2022-02-11      331628      USD         2021            FY  2021-12-31
       2023-02-14      331628      USD         2022            FY  2022-12-31

                    Restated Date  Shares (Basic)  Shares (Diluted)
Ticker Publish Date
IBM    2009-01-27      2011-02-22    1.432358e+09      1.451636e+09  \
       2010-02-23      2012-02-28    1.388207e+09      1.403055e+09
       2011-02-22      2013-02-26    1.327154e+09      1.346574e+09
       2012-02-28      2014-02-25    1.252011e+09      1.269601e+09
       2013-02-26      2015-02-24    1.195064e+09      1.208600e+09
...                           ...             ...               ...
MA     2019-02-13      2021-02-12    1.041000e+09      1.047000e+09
       2020-02-14      2022-02-11    1.005000e+09      1.010000e+09
       2021-02-12      2023-02-14    1.003000e+09      1.008000e+09
       2022-02-11      2023-02-14    9.820000e+08      9.860000e+08
       2023-02-14      2023-02-14    9.680000e+08      9.710000e+08

                          Revenue  Cost of Revenue  ...
Ticker Publish Date                                 ...
IBM    2009-01-27    1.036300e+11    -5.796900e+10  ...  \
       2010-02-23    9.575900e+10    -5.197200e+10  ...
       2011-02-22    9.987100e+10    -5.385700e+10  ...
       2012-02-28    1.069160e+11    -5.677800e+10  ...
       2013-02-26    1.028740e+11    -5.251300e+10  ...
...                           ...              ...  ...
MA     2019-02-13    1.495000e+10              NaN  ...
       2020-02-14    1.688300e+10              NaN  ...
       2021-02-12    1.530100e+10              NaN  ...
       2022-02-11    1.888400e+10              NaN  ...
       2023-02-14    2.223700e+10              NaN  ...

                     Non-Operating Income (Loss)  Interest Expense, Net
Ticker Publish Date
IBM    2009-01-27                   -375000000.0           -673000000.0  \
       2010-02-23                    -51000000.0           -402000000.0
       2011-02-22                    419000000.0           -368000000.0
       2012-02-28                   -391000000.0           -411000000.0
       2013-02-26                    384000000.0           -459000000.0
...                                          ...                    ...
MA     2019-02-13                    -78000000.0           -186000000.0
       2020-02-14                   -100000000.0           -224000000.0
       2021-02-12                   -351000000.0           -380000000.0
       2022-02-11                   -420000000.0           -431000000.0
       2023-02-14                   -387000000.0           -471000000.0

                     Pretax Income (Loss), Adj.  Abnormal Gains (Losses)
Ticker Publish Date
IBM    2009-01-27                  1.556300e+10             1.153000e+09  \
       2010-02-23                  1.696400e+10             1.177000e+09
       2011-02-22                  1.857000e+10             1.154000e+09
       2012-02-28                  1.989500e+10             1.108000e+09
       2013-02-26                  2.146600e+10             1.074000e+09
...                                         ...                      ...
MA     2019-02-13                  8.332000e+09            -1.128000e+09
       2020-02-14                  9.564000e+09             1.670000e+08
       2021-02-12                  7.803000e+09            -4.300000e+07
       2022-02-11                  9.756000e+09             5.510000e+08
       2023-02-14                  1.223300e+10            -5.010000e+08

                     Pretax Income (Loss)  Income Tax (Expense) Benefit, Net
Ticker Publish Date
IBM    2009-01-27            1.671600e+10                      -4.381000e+09  \
       2010-02-23            1.814100e+10                      -4.713000e+09
       2011-02-22            1.972400e+10                      -4.890000e+09
       2012-02-28            2.100300e+10                      -5.148000e+09
       2013-02-26            2.254000e+10                      -5.541000e+09
...                                   ...                                ...
MA     2019-02-13            7.204000e+09                      -1.345000e+09
       2020-02-14            9.731000e+09                      -1.613000e+09
       2021-02-12            7.760000e+09                      -1.349000e+09
       2022-02-11            1.030700e+10                      -1.620000e+09
       2023-02-14            1.173200e+10                      -1.802000e+09

                     Income (Loss) from Continuing Operations
Ticker Publish Date
IBM    2009-01-27                                1.233500e+10  \
       2010-02-23                                1.342800e+10
       2011-02-22                                1.483400e+10
       2012-02-28                                1.585500e+10
       2013-02-26                                1.699900e+10
...                                                       ...
MA     2019-02-13                                5.859000e+09
       2020-02-14                                8.118000e+09
       2021-02-12                                6.411000e+09
       2022-02-11                                8.687000e+09
       2023-02-14                                9.930000e+09

                     Net Extraordinary Gains (Losses)   Net Income
Ticker Publish Date
IBM    2009-01-27                                 NaN  12335000000  \
       2010-02-23                                 NaN  13428000000
       2011-02-22                                 NaN  14834000000
       2012-02-28                                 NaN  15855000000
       2013-02-26                        -395000000.0  16604000000
...                                               ...          ...
MA     2019-02-13                                 NaN   5859000000
       2020-02-14                                 NaN   8118000000
       2021-02-12                                 NaN   6411000000
       2022-02-11                                 NaN   8687000000
       2023-02-14                                 NaN   9930000000

                     Net Income (Common)
Ticker Publish Date
IBM    2009-01-27            12335000000
       2010-02-23            13428000000
       2011-02-22            14834000000
       2012-02-28            15855000000
       2013-02-26            16604000000
...                                  ...
MA     2019-02-13             5859000000
       2020-02-14             8118000000
       2021-02-12             6411000000
       2022-02-11             8687000000
       2023-02-14             9930000000

[84 rows x 26 columns]