## Setup
Install accompanying pinon library. It is better to install in dev mode in the conda environment with `pip install -e .` Jupyter server must restart to see changes to conda environment.
Auto reload the pinon module.  Other imports may be ignored for auto reload e.g.  `%aimport -simfin`. Note use of option 2 for auto reload and excluding other modules, rather than option 1 and including only reloadable modules.  This is because option 1 does not work correctly with aliased imports.

In [1]:
# !pip install -e ..

%load_ext autoreload
%autoreload 2
%aimport -pandas
%aimport -simfin
%aimport -os

%aimport pinon

%matplotlib inline

# imports
import pandas as pd
import os

import pinon as pn
import simfin as sf
import simfin.names as sf_cols  # column name shortcuts

config = pn.Config('master')

Config file found at: /Users/daved/Dev/pinon/config/master.xlsx
Simfin data directory: /Users/daved/Dev/pinon/simfin_data

In [4]:
pf = config.parse_forecasts('V')
pf

                    EPS Forecast  Revenue Forecast
Ticker Report Date
V      2023-03-31           1.98              7760
       2023-06-30           2.09              8010
       2023-09-30           2.24              8590
       2023-12-31           2.36              8740
       2024-03-31           2.31              8690
       2024-06-30           2.44              8950
       2024-09-30           2.61              9580
       2024-12-31           2.69              9660
AXP    2023-03-31           2.69             14010
       2023-06-30           2.81             15290
       2023-09-30           2.88             15390
       2023-12-31           2.81             16030
       2024-03-31           2.99             15550
       2024-06-30           3.15             16800
       2024-09-30           3.25             16780
       2024-12-31           3.22             17490
DFS    2023-03-31           3.99              3690
       2023-06-30           3.53              3810
       2023-09-30           3.11              3880
       2023-12-31           2.93              4010
       2024-03-31           4.37              3830
       2024-06-30           3.37              3900
       2024-09-30           3.34              3990
       2024-12-31           3.40              4140
MA     2023-03-31           2.70              5630
       2023-06-30           3.03              6210
       2023-09-30           3.25              6570
       2023-12-31           3.23              6680
       2024-03-31           3.23              6390
       2024-06-30           3.63              7060
       2024-09-30           3.88              7470
       2024-12-31           3.87              7640

In [7]:
pf.loc['AXP'].index

DatetimeIndex(['2023-03-31', '2023-06-30', '2023-09-30', '2023-12-31',
               '2024-03-31', '2024-06-30', '2024-09-30', '2024-12-31'],
              dtype='datetime64[ns]', name='Report Date', freq=None)

In [53]:
br = config.parse_breaking_reports('V')
br

                    EPS Breaking  Revenue Breaking
Ticker Report Date
V      2023-03-31           1.98              7760
       2022-12-31           1.79              6643
AXP    2022-12-31           2.70             14010
DFS    2023-03-31           4.01              3690

In [62]:
one = br.loc['V']

In [63]:
one.index

DatetimeIndex(['2023-03-31', '2022-12-31'], dtype='datetime64[ns]', name='Report Date', freq=None)

In [56]:
ts = config.parse_target_sheet('V', 10)
ts

There is an error in the supplied ticker symbol EEFT in Company List of sheet: V of config file: /Users/daved/Dev/pinon/config/master.xlsx. Company uses non stardard quarterly reporting date not currently supported. Company was dropped from the list.
There is an error in the supplied ticker symbol PAGS in Company List of sheet: V of config file: /Users/daved/Dev/pinon/config/master.xlsx. Company was not found and was dropped from the list.
There is an error in the supplied ticker symbol INTC in Company List of sheet: V of config file: /Users/daved/Dev/pinon/config/master.xlsx. Financials are not available, company was dropped from the list.

,Company Name,IndustryId,Simfin Schema,Past Years Requested,Peer Weight,Evaluate,Peer List,First Report Date,Last Report Date
Ticker,,,,,,,,,
V,VISA INC.,104007.0,normal,10,100,True,"[AXP, DFS, MA, PYPL, COF, WU, BAC]",2007-09-30,2022-12-31
AXP,AMERICAN EXPRESS CO,104007.0,bank,10,100,True,"[V, DFS, MA, PYPL, COF, WU, BAC]",2009-06-30,2022-12-31
DFS,Discover Financial Services,104007.0,bank,10,100,True,"[V, AXP, MA, PYPL, COF, WU, BAC]",2009-09-30,2022-12-31
MA,Mastercard Inc,104007.0,normal,10,100,True,"[V, AXP, DFS, PYPL, COF, WU, BAC]",2009-06-30,2022-12-31
PYPL,"PayPal Holdings, Inc.",104007.0,normal,10,80,False,None,2015-06-30,2022-12-31
COF,Capital One Financial,104007.0,bank,10,60,False,None,2009-06-30,2022-12-31
WU,Western Union Co,104007.0,normal,10,60,False,None,2008-12-31,2022-12-31
BAC,BANK OF AMERICA CORP /DE/,104002.0,bank,10,60,False,None,2011-09-30,2022-12-31

In [59]:
fund = pn.Fundamentals()
inc1 = fund.get_quarterly_income_statement('XOM')

In [61]:
inc1.index

DatetimeIndex(['2005-12-31', '2006-03-31', '2006-06-30', '2006-09-30',
               '2006-12-31', '2007-03-31', '2007-06-30', '2007-09-30',
               '2007-12-31', '2008-03-31', '2008-06-30', '2008-09-30',
               '2008-12-31', '2009-03-31', '2009-06-30', '2009-09-30',
               '2009-12-31', '2010-03-31', '2010-06-30', '2010-09-30',
               '2010-12-31', '2011-03-31', '2011-06-30', '2011-09-30',
               '2011-12-31', '2012-03-31', '2012-06-30', '2012-09-30',
               '2012-12-31', '2013-03-31', '2013-06-30', '2013-09-30',
               '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30',
               '2014-12-31', '2015-03-31', '2015-06-30', '2015-09-30',
               '2015-12-31', '2016-03-31', '2016-06-30', '2016-09-30',
               '2016-12-31', '2017-03-31', '2017-06-30', '2017-09-30',
               '2017-12-31', '2018-03-31', '2018-06-30', '2018-09-30',
               '2018-12-31', '2019-03-31', '2019-06-30', '2019-09-30',
               '2019-12-31', '2020-03-31', '2020-06-30', '2020-09-30',
               '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30',
               '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30',
               '2022-12-31'],
              dtype='datetime64[ns]', name='Report Date', freq=None)