## Setup
Install accompanying pinon library. It is better to install in dev mode in the conda environment with `pip install -e .` Jupyter server must restart to see changes to conda environment.
Auto reload the pinon module.  Other imports may be ignored for auto reload e.g.  `%aimport -simfin`. Note use of option 2 for auto reload and excluding other modules, rather than option 1 and including only reloadable modules.  This is because option 1 does not work correctly with aliased imports.

In [ ]:
# !pip install -e ..

%load_ext autoreload
%autoreload 2
%aimport -pandas
%aimport -simfin
%aimport -os

%aimport pinon

%matplotlib inline

# imports
import pandas as pd
import os

import pinon as pn
import simfin as sf
import simfin.names as sf_cols  # column name shortcuts

config = pn.Config('master')

In [37]:
ts = config.parse_target_sheet('V', 10)
ts

There is an error in the supplied ticker symbol EEFT in Company List of sheet: V of config file: /Users/daved/Dev/pinon/config/master.xlsx. Compnay uses non stardard quarterly reporting date not currently supported. Company was dropped from the list.
There is an error in the supplied ticker symbol PAGS in Company List of sheet: V of config file: /Users/daved/Dev/pinon/config/master.xlsx. Company was not found and was dropped from the list.
There is an error in the supplied ticker symbol INTC in Company List of sheet: V of config file: /Users/daved/Dev/pinon/config/master.xlsx. Financials are not available, company was dropped from the list.

,Company Name,IndustryId,Simfin Schema,Past Years Requested,Peer Weight,Evaluate,Peer List,First Report Date,Last Report Date
Ticker,,,,,,,,,
AXP,AMERICAN EXPRESS CO,104007.0,bank,10,100,True,"[DFS, MA, PYPL, COF, WU, BAC]",2009-06-30,2022-12-31
DFS,Discover Financial Services,104007.0,bank,10,100,True,"[AXP, MA, PYPL, COF, WU, BAC]",2009-09-30,2022-12-31
MA,Mastercard Inc,104007.0,normal,10,100,True,"[AXP, DFS, PYPL, COF, WU, BAC]",2009-06-30,2022-12-31
PYPL,"PayPal Holdings, Inc.",104007.0,normal,10,80,False,None,2015-06-30,2022-12-31
COF,Capital One Financial,104007.0,bank,10,60,False,None,2009-06-30,2022-12-31
WU,Western Union Co,104007.0,normal,10,60,False,None,2008-12-31,2022-12-31
BAC,BANK OF AMERICA CORP /DE/,104002.0,bank,10,60,False,None,2011-09-30,2022-12-31

In [35]:
funds = pn.Fundamentals()
funds.is_standard_reporting_dates('EEFT')

False