## Setup
Install accompanying pinon library. It is better to install in dev mode in the conda environment with `pip install -e .` Jupyter server must restart to see changes to conda environment.
Auto reload the pinon module.  Other imports may be ignored for auto reload e.g.  `%aimport -simfin`. Note use of option 2 for auto reload and excluding other modules, rather than option 1 and including only reloadable modules.  This is because option 1 does not work correctly with aliased imports.

In [18]:
# !pip install -e ..

%load_ext autoreload
%autoreload 2
%aimport -pandas
%aimport -simfin
%aimport -os

%aimport pinon

%matplotlib inline

# imports
import pandas as pd
import os

import pinon as pn
import simfin as sf
import simfin.names as sf_cols  # column name shortcuts

config = pn.Config('master')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Config file found at: /Users/daved/Dev/pinon/config/master.xlsx
Simfin data directory: /Users/daved/Dev/pinon/simfin_data

In [19]:
ts = config.parse_target_sheet('V', 10)
ts

There is an error in the supplied ticker symbol PAGS in Company List of sheet: V of config file: /Users/daved/Dev/pinon/config/master.xlsx. It was not found and was dropped from the list.

,Company Name,IndustryId,Past Years Requested,Peer Weight,Evaluate,Peer List
Ticker,,,,,,
AXP,AMERICAN EXPRESS CO,104007.0,10,100,True,[]
DFS,Discover Financial Services,104007.0,10,100,True,[]
MA,Mastercard Inc,104007.0,10,100,True,[]
PYPL,"PayPal Holdings, Inc.",104007.0,10,80,False,None
COF,Capital One Financial,104007.0,10,60,False,None
WU,Western Union Co,104007.0,10,60,False,None
EEFT,EURONET WORLDWIDE INC,100002.0,10,60,False,None
BAC,BANK OF AMERICA CORP /DE/,104002.0,10,60,False,None

In [20]:
c = pn.Companies()

In [21]:
res = c.get_company('MSFT')
res

SimFinId                 59265
Company Name    MICROSOFT CORP
IndustryId            101003.0
Name: MSFT, dtype: object