## Setup
Install accompanying pinon library. It is better to install in dev mode in the conda environment with `pip install -e .` Jupyter server must restart to see changes to conda environment.
Auto reload the pinon module.  Other imports may be ignored for auto reload e.g.  `%aimport -simfin`. Note use of option 2 for auto reload and excluding other modules, rather than option 1 and including only reloadable modules.  This is because option 1 does not work correctly with aliased imports.

In [2]:
# Suppress future warning, mostly from SimFin library
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Auto reload pinon for debug. See README for functionality limitations
%load_ext autoreload
%autoreload 2
%aimport -pandas
%aimport -simfin
%aimport -os

%aimport pinon

%matplotlib inline

# imports
import pandas as pd
import seaborn as sns
import os

import pinon as pn
import pinon.names as pn_cols
import simfin as sf
import simfin.names as sf_cols  # column name shortcuts

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Break

In [3]:
config = pn.Config('master', 'V', 15)

Config file found at: /Users/daved/Dev/pinon/config/master.xlsx
Simfin data directory: /Users/daved/Dev/pinon/simfin_data
Dataset "us-companies" on disk (20 days old).
- Loading from disk ... Done!
Dataset "us-income-quarterly" on disk (20 days old).
- Loading from disk ... Done!
Dataset "us-income-banks-quarterly" on disk (20 days old).
- Loading from disk ... Done!
Dataset "us-income-insurance-quarterly" on disk (20 days old).
- Loading from disk ... Done!
Dataset "us-derived-quarterly" on disk (20 days old).
- Loading from disk ... Done!
Dataset "us-derived-banks-quarterly" on disk (20 days old).
- Loading from disk ... Done!
Dataset "us-derived-insurance-quarterly" on disk (20 days old).
- Loading from disk ... Done!
There is an error in the supplied ticker symbol PAGS in Company List of sheet: V of config file: /Users/daved/Dev/pinon/config/master.xlsx. Company was not found and was dropped from the list.

In [4]:
m = pn.Multiples(config)
m.run_qtr_derived()
m.qtr_derived_bases
qdb = m.qtr_derived_bases
qdb

Dataset "us-shareprices-daily" on disk (20 days old).
- Loading from disk ... Done!
Dataset "us-derived-shareprices-daily" on disk (20 days old).
- Loading from disk ... Done!
Adding breaking report for ticker V for report date 2024-03-31
Adding breaking report for ticker MA for report date 2024-03-31

                    Quarterly EPS   TTM EPS       Qtr Rev       TTM Rev  \
Ticker Report Date
AXP    2009-03-31        0.378028       NaN  5.926000e+09           NaN
       2009-06-30        0.289270       NaN  6.092000e+09           NaN
       2009-09-30        0.541914       NaN  6.016000e+09           NaN
       2009-12-31        0.605753  1.814965  6.302000e+09  2.433600e+10
       2010-03-31        0.743073  2.180010  6.560000e+09  2.497000e+10
...                           ...       ...           ...           ...
WU     2022-12-31        0.662065  2.341387  1.091900e+09  4.475500e+09
       2023-03-31        0.390834  2.002074  1.036900e+09  4.356700e+09
       2023-06-30        0.469116  1.970674  1.170000e+09  4.388400e+09
       2023-09-30        0.455272  1.977287  1.097800e+09  4.396600e+09
       2023-12-31        0.341581  1.656803  1.052300e+09  4.357000e+09

                    Qtr Div  TTM Div  Quarterly PE Ratio  TTM PE Ratio  \
Ticker Report Date
AXP    2009-03-31      0.18      NaN            9.983114           NaN
       2009-06-30      0.18      NaN           20.044546           NaN
       2009-09-30      0.18      NaN           14.128823           NaN
       2009-12-31      0.00     0.54           15.820058     21.120074
       2010-03-31      0.18     0.54           13.402914     18.273942
...                     ...      ...                 ...           ...
WU     2022-12-31      0.23     0.92            5.213723      5.897062
       2023-03-31      0.23     0.92            8.326586      6.501887
       2023-06-30      0.23     0.92            6.140839      5.847271
       2023-09-30      0.23     0.92            6.730764      6.199050
       2023-12-31      0.23     0.92            8.929055      7.363578

                    Mu Quarterly Price Breaking Report Employed  \
Ticker Report Date
AXP    2009-03-31            15.095574                    False
       2009-06-30            23.193175                    False
       2009-09-30            30.626406                    False
       2009-12-31            38.332188                    False
       2010-03-31            39.837377                    False
...                                ...                      ...
WU     2022-12-31            13.807302                    False
       2023-03-31            13.017258                    False
       2023-06-30            11.523065                    False
       2023-09-30            12.257302                    False
       2023-12-31            12.200000                    False

                   AROI 1 year window AROI 3 year window AROI 5 year window  \
Ticker Report Date
AXP    2009-03-31            1.575072           0.483548           0.414268
       2009-06-30            0.740916           0.327018           0.319124
       2009-09-30            0.404079           0.243649           0.250104
       2009-12-31            0.107392           0.155751           0.195146
       2010-03-31            0.072521           0.136608           0.185663
...                               ...                ...                ...
WU     2022-12-31           -0.045628                NaN                NaN
       2023-03-31            0.007893                NaN                NaN
       2023-06-30                 NaN                NaN                NaN
       2023-09-30                 NaN                NaN                NaN
       2023-12-31                 NaN                NaN                NaN

                   AROI 10 year window AROI all year window
Ticker Report Date
AXP    2009-03-31              0.22338             0.178839
       2009-06-30             0.172638                  NaN
       2009-09-30             0.152486                  NaN
       2009-12-31             0.131612                  NaN
       2010-03-31             0.124948                  NaN
...                                ...                  ...
WU     2022-12-31                  NaN                  NaN
       2023-03-31                  NaN                  NaN
       2023-06-30                  NaN                  NaN
       2023-09-30                  NaN                  NaN
       2023-12-31                  NaN                  NaN

[444 rows x 15 columns]

In [ ]:
c = pn.Comps(config)
c.run()     
c.comp_ratios

In [ ]:
c.run_validation()

In [ ]:
c.extend_forecasts()

In [ ]:
c.calc_fair_value()
c.fair_value.loc['V']


c.fair_value

In [ ]:
config.companies

In [ ]:
industries = sf.load_industries()
industries.tail()

In [ ]:
companies = sf.load_companies(index=[sf_cols.INDUSTRY_ID, sf_cols.TICKER])
c_specific = companies.loc[104007]