## Setup
Install accompanying pinon library. It is better to install in dev mode in the conda environment with `pip install -e .` Jupyter server must restart to see changes to conda environment.
Auto reload the pinon module.  Other imports may be ignored for auto reload e.g.  `%aimport -simfin`. Note use of option 2 for auto reload and excluding other modules, rather than option 1 and including only reloadable modules.  This is because option 1 does not work correctly with aliased imports.

In [ ]:
# !pip install -e ..

%load_ext autoreload
%autoreload 2
%aimport -pandas
%aimport -simfin
%aimport -os

%aimport pinon

%matplotlib inline

# imports
import pandas as pd
import seaborn as sns
import os

import pinon as pn
import pinon.names as pn_cols
import simfin as sf
import simfin.names as sf_cols  # column name shortcuts

In [ ]:
config = pn.Config('master', 'V', 10)

In [5]:
c = pn.Comps(config)
c.run()
c.comp_ratios

Adding breaking report for ticker V for report date 2023-03-31
Adding breaking report for ticker DFS for report date 2023-03-31
Here

                            Quarterly PE Ratio
                                    Unweighted   Weighted Weighted, Adjusted
Target Ticker Time Averaged
AXP           0 year                  9.163213  12.159421          12.120083  \
              1 year                  10.22503  12.785269          12.743907
              3 year                 22.776285  25.484168          25.401722
              5 year                 21.694573  23.923817          23.846419
DFS           0 year                 10.584107  13.992833           6.314428
              1 year                 11.483394  14.408964           6.502212
              3 year                 24.721855  27.994581          12.632879
              5 year                 23.998469  26.896586          12.137396
MA            0 year                  7.523925   10.04421          21.000442
              1 year                  8.227535  10.207856          21.342594
              3 year                 20.252365  22.227497          46.473267
              5 year                 19.444777  21.020854          43.950418
V             0 year                  7.905417  10.536458          29.195275
              1 year                  8.808886  10.957986          30.363282
              3 year                 20.488938  22.532752          62.435587
              5 year                 19.494625  21.085175          58.424521

                            TTM PE Ratio
                              Unweighted   Weighted Weighted, Adjusted
Target Ticker Time Averaged
AXP           0 year           18.096655  19.779798          20.004699
              1 year           18.705207  20.515081          20.748342
              3 year           25.491555  27.575802          27.889345
              5 year           23.906749  26.101859          26.398643
DFS           0 year           19.421206  21.488896          11.739439
              1 year           19.842443  21.982482          12.009087
              3 year            26.63437  29.050401          15.870309
              5 year           24.968634  27.472033          15.008043
MA            0 year           16.334445  17.505978          41.080422
              1 year           16.415168  17.560193          41.207646
              3 year           22.560724  23.794084          55.836414
              5 year           21.039809  22.402581          52.571042
V             0 year           16.537438  17.767904          44.631582
              1 year           16.991779  18.304207          45.978731
              3 year           22.737219  24.021819          60.340925
              5 year            21.19776  22.606389          56.785475

In [7]:
c.multiples.loc['AXP']

,Quarterly EPS,TTM EPS,Quarterly PE Ratio,TTM PE Ratio,Mu Quarterly Price
Report Date,,,,,
2013-06-30,1.280766,NaN,13.886682,NaN,71.142344
2013-09-30,1.263645,NaN,14.883781,NaN,75.231250
2013-12-31,1.220149,NaN,16.831925,NaN,82.149844
2014-03-31,1.342081,5.10664,16.63978,17.492461,89.327705
2014-06-30,1.446547,5.272421,15.579055,17.097141,90.143333
2014-09-30,1.410697,5.419474,15.954738,16.612169,90.029219
2014-12-31,1.400774,5.600099,15.999436,16.008004,89.646406
2015-03-31,1.490714,5.748732,13.93287,14.451825,83.079672
2015-06-30,1.454097,5.756282,13.639788,13.78221,79.334286
2015-09-30,1.269809,5.615394,15.147419,13.701147,76.937344
2015-12-31,0.918284,5.132904,19.810176,14.176278,72.765469
2016-03-31,1.480789,5.122979,9.821109,11.355105,58.171967
2016-06-30,2.141339,5.810222,7.395854,10.902876,63.348125
2016-09-30,1.23727,5.777682,12.981045,11.119376,64.244219
2016-12-31,0.903614,5.763012,19.153765,12.012897,69.230476
2017-03-31,1.369878,5.652101,14.267515,13.831852,78.179032
2017-06-30,1.520717,5.031479,13.007756,15.725882,79.124444
2017-09-30,1.544318,5.338528,13.913085,16.098994,85.944921
2017-12-31,-1.389401,3.045512,-17.136682,31.27188,95.238889
2018-03-31,1.897793,3.573427,12.759923,27.106411,96.862787
2018-06-30,1.882831,3.935541,13.047468,24.968533,98.264687
2018-09-30,1.923256,4.314479,13.519176,24.105654,104.003333
2018-12-31,2.356389,8.060269,11.100805,12.981114,104.631270
2019-03-31,1.838671,8.001147,14.288114,13.133691,105.084590
2019-06-30,2.108982,8.227298,13.923196,14.276263,117.455079
2019-09-30,2.122128,8.426171,14.446491,14.553374,122.629219
2019-12-31,2.077301,8.147082,14.383469,14.669688,119.515156
2020-03-31,0.454208,6.762619,64.040676,17.20504,116.351129
2020-06-30,0.318859,4.972495,72.18805,18.516078,92.071111
2020-09-30,1.334577,4.184944,18.42821,23.506996,98.375469
2020-12-31,1.784119,3.891763,15.519148,28.458064,110.752031
2021-03-31,2.776398,6.213952,11.897464,21.263176,132.128361
2021-06-30,2.832298,8.727392,13.824547,17.945906,156.620952
2021-09-30,2.291092,9.683906,18.244101,17.265308,167.195625
2021-12-31,2.509489,10.409276,16.988098,16.382098,170.525781
2022-03-31,2.729519,10.362398,16.540564,17.427543,180.591129
2022-06-30,2.591029,10.121129,15.937465,16.320091,165.177742
2022-09-30,2.495352,10.325389,15.164663,14.659466,151.364688
2022-12-31,1.786364,9.602263,20.736459,15.430886,148.171429
2023-03-31,2.298734,9.171479,18.041346,18.08749,165.889032

In [ ]:
temp = c.m.mu_multiples.loc[config.get_peer_list('V')]
temp.index.get_level_values(0)
s = pd.Series(config.get_peer_weights('V'), index=config.get_peer_list('V'))
temp1 = temp.reset_index(level=0)
temp1['New Col'] = 4
temp1.map(s)

In [ ]:
dp = pn.DailyPrices()
dp.get_downsampled_share_price_ratios('V')[sf_cols.PE_TTM].tail(70).plot()

In [ ]:
c.m.multiples.loc[('AXP',), pn_cols.TTM_PE_RATIO].plot()

In [ ]:
c.m.multiples.loc[('V', '2009-12-31:2010-06-30')]